/recursive_digits_sum.class
/Solution.class
/counter_game.class
/fibonnaci_modified.class
/the_coin_change_problem.class
/max_min.class
/candies.class
/greedy_floroist.class
/pairs.class
/sherlock_and_anagrams.class
/sherlock_and_the_valid_strings.class
/bigger_is_greater.class
/extra_long_factorials.class
/encryption.class
