/Compare_The_Triplets.class
/grading_students.class
/apple_and_orange.class
/kangaroo.class
/between_two_sets.class
/breaking_records.class
/birthday_chocolate.class
/divisble_sum_pairs.class
/migratory_birds.class
/bon_appetit.class
/sock_merchant.class
/counting_valleys.class
/electronic_shop.class